# Primeiros Exemplos

In [9]:
print('primeiro programa')
1 \
 + 2  #essa barra torta serve para que o programa rode com quebra de linha

primeiro programa

3

In [11]:
1 + 2 + 3
4 + 5 + 6 #Aqui no Jupyter apenas a ultima linha é lida a menos que você use print

15

In [13]:
print(1 + 2 + 3)
print(4 + 5 + 6)

6
15

# Tipos Básicos

In [17]:
print(True)#Tipo Boolean
print(False)#Tipo Boolean
print(1.2 + 1)#Tipo Float + Tipo Int
print('Aqui eu falo na minha lingua!') #String no python pode ser feita com aspas simples...
print("Tb funciona.")#pode ser feita com aspas dupla tbm
print('Você é ' + 3 * 'muito ' + 'legal')#Aqui, estamos multiplicando a palavra muito 3 vezes e usando o (+) para concatenar
# print(3 + '3') -> nesse caso ocorre uma ambiguidade pois interpretador não sabe se deve somar ou concatenar.
print([1, 2, 3])#Tipo List
print({'nome': 'Pedro', 'idade': 22})#Tipo Dicionario(Chave valor)
print(None)#None é tipo uma nulo

True
False
2.2
Aqui eu falo na minha lingua!
Tb funciona.
Você é muito muito muito legal
[1, 2, 3]
{'nome': 'Pedro', 'idade': 22}
None

# Variáveis

In [22]:
a = 10
b = 5.2

print(a + b)

#Python é uma linguagem dinamicamente tipada, ou seja, 
#não é obrigatorio declarar o tipo da variavel quando ela é criada

a = 'Agora é uma string'
print(a)
a
b
#print(a + b) -> nesse momento vai ocorrer um erro na soma pois, como...
# a variavel (a) deixou de ser Int para ser uma String ... 
# o interpretador não vai realizar a soma de um tipo Float com um tipo String

15.2
Agora é uma string

5.2

# Operadores Aritméticos

In [25]:
# Operador de soma
print(2 + 3)
# Operador de subtração
print(4 - 7)
# Operador de multiplicação
print(2 * 5.3)
# Operador de divisão
print(9.4 / 3)
# Operador de divisão, porém obrigatoriamente o resultado da divisão sera Int
print(9.4 // 3)
# Operador de elevação
print(2 ** 8)
# Operador Modulo, serve para pegar o resto da divisão
print(10 % 3)

a = 12
b = a
print(a + b)

5
-3
10.6
3.1333333333333333
3.0
256
1
24

# Desafio Operadores Aritméticos

In [29]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2

conta = (despesas * 100) // salario

print(conta)

71.0

# Operadores Relacionais

In [39]:
print(3 > 4)
print(4 >= 3)
print(1 < 2)
print(3 <= 1)
print(3 != 2)
print(3 == 3)
print(3 == '2')

False
True
True
False
True
True
False

# Operadores de Atribuição

In [45]:
a = 3
a = a + 7
print(a)

a += 5 # a = a + 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 4
print(a)

a **= 8
print(a)

a //= 256
print(a)

10
15
12
24
6.0
2.0
256.0
1.0

# Operadores Lógicos

In [66]:
True or False
7 != 3 and 2 > 3

print('\nTabela Verdade do AND:\n')
# Tabela verdade do AND
print(True and True)
print(True and False)
print(False and True)
print(False and False)


print('\nTabela Verdade do OR:\n')
# Tabela verdade do OR
print(True or True)
print(True or False)
print(False or True)
print(False or False)

print('\nTabela Verdade do XOR:\n')
# Tabela verdade do XOR(OU EXCLUSIVO)
print(True != True)
print(True != False)
print(False != True)
print(False != False)

print('\nOperador de Negação:\n')
# Tabela verdade do XOR(OU EXCLUSIVO)
# OBS: No java como operador de negação, é usado o (!)
print(not True)
print(not False)

print(not 0)
print(not 1)
print(not not -1)
print(not not True)

print('\nOperadores Bit-a-bit\n')
# Cuidado!(Usados para comparar o número binário(1 = True e 0 = False) e não numero decimal. 
# O resultado dessa comparação forma um novo número binário que será imprimido pelo interpretador como decimal)
True & False
False | True
True ^ False

# AND Bit-a-bit
# 3 = 11
# 2 = 10
# _ = 10 = 2
print(3 & 2)

# OR Bit-a-bit
# 3 = 11
# 2 = 10
# _ = 11 = 3
print(3 | 2)

# OR Bit-a-bit
# 3 = 11
# 2 = 10
# _ = 01 = 1
print(3 ^ 2)

Tabela Verdade do AND:

True
False
False
False

Tabela Verdade do OR:

True
True
True
False

Tabela Verdade do XOR:

False
True
True
False

Operador de Negação:

False
True
True
False
True
True

Operadores Bit-a-bit

2
3
1

# Desafio Operadores Lógicos

In [72]:
trab1 = True
trab2 = False

TV32 = trab1 != trab2
TV50 = trab1 and trab2
Sorvete = trab1 or trab2
Saudavel = not Sorvete

print('Tv de 50: ', TV50, '\nTv de 32: ', TV32, '\nSorvete: ', Sorvete, '\nEsta saudavel: ', Saudavel)

# Versão do professor:

trabalho_terca = False
trabalho_quinta = False

tv_50 = trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta  # xor
mais_saudavel = not sorvete

print("Tv50={} Tv32={} Sorvete={} Saudável={}"
      .format(tv_50, tv_32, sorvete, mais_saudavel))

# "{}, {} = {}".format(1, False, 'resultado')

Tv de 50:  False
Tv de 32:  True
Sorvete:  True
Esta saudavel:  False
Tv50=False Tv32=False Sorvete=False Saudável=True

# Operadores Unários

In [73]:
# %%
a = 3
# a++
# a += 1(No python, essa é a forma de usar o (++))
# a
# a--
# ++a
# ++a
-a
+a

not 0
not 1
not -2
not False
not not True

True

# Operadores Ternários

In [79]:
esta_chuvendo = True

print('Hoje estou com as roupas ' + ('secas.', 'molhadas.')[esta_chuvendo])
print('Hoje estou com as roupas ' +  ('molhadas.' if esta_chuvendo else 'secas.'))

Hoje estou com as roupas molhadas.
Hoje estou com as roupas molhadas.

# Mais Operadores

In [89]:
# Operador de Membro
lista = [1, 2, 3, 'Ana', 'Carla']
2 in lista
'Ana' not in lista

# Operador de Identidade
x = 3
y = x
z = 3
x is y
y is z
x is not z


# Neste caso, quando é criada uma lista, não é o valor da lista que é armazenada na variavel e sim o endereço da lista na memoria, 
# ou seja, uma variavel que recebe uma lista vai receber o endereço da onde essa lista esta na memoria, por isso que
# quando é criada outra lista de mesmo valor, não é possivel comparar as 2 como sendo iguais pois dentro delas não contem
# valores e sim endereços e os das listasendereços são diferentes por isso se compararmos as duas usando o operador de identidade, 
# vai dar falso, pois elas pertencem a lugares diferentes
lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

lista_a is lista_b
lista_b is lista_c
lista_a is not lista_c

True

# Builtins

In [2]:
# type()
type(1)
__builtins__.type('Fala Galera!')
__builtins__.print(10 / 3)

# __builtins__.help(__builtins__.dir)

# a = 7
import math
# dir()
# dir(__builtins__)


nome = 'João da Silva'
type(nome)
# __builtin__.len(nome)

dir()

3.3333333333333335

['In',
 'Out',
 '_',
 '_1',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'math',
 'nome',
 'quit']

# Conversão de Tipos

In [21]:
2 + 3
'2' + '3'
# 2 + '3'
# print(2 + '3')

a = 2
b = '3'

print(type(a))
print(type(b))

print(a + int(b)) # Convertendo String para Int
print(str(a) + b) # Convertendo Int para String 

type(str(a))

# print(2 + int('3.4'))

<class 'int'>
<class 'str'>
5
23

str

# Coerção Automática

In [25]:
print(10 / 2)
print(type(10 / 2))
print(10 / 3)
print(10 // 3)
print(type(10 // 3))
print(10 // 3.3)
print(type(10 // 3.3))
print(10 / 2.5)
print(2 + True)
print(2 + False)
print(type(1 + 2))
print(type(1 + 2.5))

5.0
<class 'float'>
3.3333333333333335
3
<class 'int'>
3.0
<class 'float'>
4.0
3
2
<class 'int'>
<class 'float'>

# Tipos Numéricos

In [38]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b
a + b
a * b

type(a)
type(b)
type(a - b) # Toda operação aritmética entre Int e Float o resultado vai ser Float

b.is_integer()
5.0.is_integer()

dir(int)
int.__add__(2, 3)
2 + 3

(-2).__abs__()
abs(-2)

(-3.6).__abs__()
abs(-3.6)

3.6

In [53]:
# 1.1 + 2.2
from decimal import Decimal, getcontext
Decimal(1) / Decimal(7)

getcontext().prec = 4 # Ajusta quantos casas decimais tem após a virgula.
Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7))
dir(Decimal)

1.1 + 2.2
getcontext().prec = 10
Decimal(1.1) + Decimal(2.2)

import decimal
dir(decimal)

# Tipo String

In [66]:
dir(str)
nome = 'Saulo Pedro'
nome
nome[0] # Indice (0) da string é a letra (S)
# nome[0] = 'P' # Trocar o valor de um Indice por outro não é possível, string é imutável.

# 'marca d'água'
"Dias D'Avila" == 'Dias D\'Avila' # Formas de usar aspas dentro de uma string sem quebrar a string
"Teste \" funciona!"
texto = 'Texto entre apostrófos pode ter "aspas"'
texto

doc = """Texto com múltiplas
... linhas"""
doc
print('Texto com múltiplas\n\t...linhas')
print(doc)

doc2 = '''Também é possível
... com 3 aspas simples'''
doc2

Texto com múltiplas
	...linhas
Texto com múltiplas
... linhas

'Também é possível\n... com 3 aspas simples'

In [115]:
nome = 'Ana Paula'
nome[0] # Indice (0) da string é a letra (A)
nome[6] # Indice (6) da string é a letra (u)
nome[-3] # Usando o menos pegamos o indice de forma invertida, exemplo, o -1 seria o (a), -2 valor (l) e -3 valor (u)
nome[4:] # Pega todas caracteres a partir do indice 4
nome[-5:] # Pega todas cacacteres a partir do indice invertido -5
nome[:3] # Pega todas antes do indice 3, mas o indice 3 em si não conta
nome[2:5] # Pega todas caracteres a partir do indice 2 até o indice 5, mas o indice 5 em si não conta

numeros = '1234567890'
numeros
numeros[::]
numeros[::2] # Pula os caracteres de 2 em 2
numeros[1::2] # pula de 2 em 2 a partir do indice 1
numeros[::-1] # Inverte os caracteres
numeros[::-2] # Inverte os caracteres e pula de 2 em 2

nome[::-1]

'aluaP anA'

In [121]:
frase = 'Python é uma linguagem excelente'
'py' not in frase
'ing' in frase
len(frase) # len é uma função para saber quantos caracteres tem uma string
frase.lower() # Usado para deixar em minusculo uma string
frase
frase = frase.upper() # Usado para deixar em maiusculo uma string
frase

frase.split()
frase.split('E') # Usado para dividir uma string

# dir(str)
# help(str.center)

['PYTHON É UMA LINGUAG', 'M ', 'XC', 'L', 'NT', '']

In [135]:
a = '123'
b = ' de Oliveira 4'
a + b
a.__add__(b)
str.__add__(a, b)

len(a)
a.__len__()
'1' in a
a.__contains__('1')

dir(str)

True

# Lista

In [151]:
# Lista é mutavel e permite adicionar valores de varios tipos, porém não é uma boa prática

lista = []
type(lista)
len(lista) # Mostra o tamanho da lista
lista.append(1) # Adiciona valores a lista
lista.append(5)
lista
len(lista)

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista
nova_lista.remove(5) # Remove valores da lista
nova_lista
nova_lista.reverse() # Inverte os valores da lista
nova_lista

['Bia', 'Ana', 1]

In [163]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme') # Me traz o indice de algum elemento da lista, nesse caso, me trouxe o indice de Guilherme
lista[2] # Aqui estamos pegando o elemento de acordo com o indice dele, nesse caso, usamos o indice 2 que nos traz o elemento Rebeca
1 in lista
'Rebeca' in lista
'Pedro' not in lista
lista[0]
lista[4]
lista[-1]
lista[-5]

1

In [176]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[1:3] # Percorre do indice 1 até o indice 3, porém o elemento do indice 3 não é mostrado
lista[1:-1] # Percorre a lista a partir do indice até o indice -1, porém o elemento do indice -1 não é mostrado
lista[1:] # Percorre a lista a partir do indice 1 até o final
lista[:-1] # Percorre do primeiro elemento da lista até o elemento do indice -1, porém o elemento do indice -1 não é mostrado
lista[:] # Imprime a lista inteira
lista[::2] # Percorre de 2 em 2
lista[::-1] # Inverte a lista
del lista[2] # Deleta o elemento do indice 2
lista
del lista[1:] # Deleta todos os elementos a partir do indice 1
lista

['Ana']

# Tuplas

In [182]:
# A tupla é tipo uma lista so que imutavel

tupla = tuple() # Primeiro modo de criar uma Tupla
tupla = () # Segundo modo de criar uma Tupla
type(tupla)
dir(tupla)
# help(tuple)
type(tupla)
tupla = ('um') # Se for criada assim, sera considerado como String
type(tupla)
tupla = ('um',) # Quando é colocado virgula, é considerado Tupla
type(tupla)
tupla[0] # Acessando elemento do indice 0 da tupla
# tupla[0] = 'novo'
cores = ('verde', 'amarelo', 'azul', 'azul', 'branco')
cores[0]
cores[-1]
cores[1:]

cores.index('amarelo')
cores.count('azul') # Conta quantos elementos iguais a tupla possui
len(cores)

5

# Dicionários

In [197]:
pessoa = {'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['Inglês', 'Português']}
type(pessoa)
dir(dict)
len(pessoa)

pessoa
pessoa['nome']
pessoa['idade']
pessoa['cursos'][1]
pessoa.keys() # Mostra a chaves do dicionário
pessoa.values() # Mostra os valores das chaves do dicionario
pessoa.get('idade')
pessoa.get('tags') # Não retorna nada pois não existe
pessoa.get('tags', []) # Retorna default

[]

In [211]:
pessoa = {'nome': 'Prof. Alberto', 'idade': 43, 'cursos': ['React', 'Python']}
pessoa['idade'] = 44
pessoa['cursos'].append('Angular')
pessoa
pessoa.pop('idade') # Le o valor de idade e apaga logo em seguida
pessoa
pessoa.update({'idade': 40, 'Sexo': 'M'}) # Adicionado novos pares de chave valor
pessoa
del pessoa['cursos'] # Exclui a chave cursos junto com seus valores
pessoa
pessoa.clear() # Apaga todas as chaves e valores
pessoa

{}

# Conjuntos

In [ ]:
a = {1, 2, 3}
type(a)
# a[0]
a = set('coddddd3r')
print(a)
print('3' in a, 4 not in a)
{1, 2, 3} == {3, 2, 1, 3}

# operacoes
c1 = {1, 2}
c2 = {2, 3}
c1.union(c2)
c1.intersection(c2)
c1.update(c2)
c1
c2 <= c1
c1 >= c2

{1, 2, 3} - {2}
c1 - c2
c1 -= {2}
c1

# Interpolação

In [212]:
from string import Template

nome, idade = 'Ana', 30

print('Nome: %s Idade: %d' % (nome, idade))  # mais antiga
print('Nome: {0} Idade: {1}'.format(nome, idade))  # python < 3.6
print(f'Nome: {nome} Idade: {idade}')  # python >= 3.6


s = Template('Nome: $nome Idade: $idade')
print(s.substitute(nome=nome, idade=idade))

Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30